<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <threshold value="ALL" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%d] %-5level %logger (%message) %newline" />
    </layout>
  </appender>
  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="INFO" />
    <file value="C:\logs\Terminfinder\Dataport.Terminfinder.Service.DeleteExpiredAppointments.log" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%d] %-5level %logger %t (%message) %newline" />
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <threshold value="INFO" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%d] %-5level %logger %t (%message) %newline" />
    </layout>
  </appender>
  <appender name="DebugFileAppender" type="log4net.Appender.FileAppender">
    <file value="C:\logs\Terminfinder\Debug\Dataport.Terminfinder.Service.DeleteExpiredAppointments.Debug.log" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%d] %-5level %logger %t %message %newline" />
    </layout>
  </appender>
    
  <root>
    <level value="WARN" />
    <!--<appender-ref ref="DebugFileAppender" />-->
    <appender-ref ref="TraceAppender" />
    <appender-ref ref="FileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>
